.generatedQuestion {
  font-size: 2.2rem;
  text-align: center;
  margin: 3rem 0;
}

.bolded {
  font-weight: 600;
}

.hmwPreset {
  display: block;
  width: 100%;
  font-weight: 600;
  font-size: 2rem;

  @media (min-width: 880px) {
    font-size: 3.5rem;
  }
}

.fadeGroupOne {
  animation: fadeIn 4s;
  display: inline-block;
}

@keyframes blank {
  from {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeGroupTwo {
  animation: blank 2s 4, fadeIn 0.5s 2s forwards;
  display: inline-block;
  margin: 0 1rem;
}

.fadeGroupThree {
  display: inline-block;
  animation: blank 2s 4, fadeIn 0.5s 3s forwards;
}

.fadeGroupFour {
  display: inline-block;
  animation: blank 2s 4, fadeIn 0.5s 4s forwards;
}

.passionContainer,
.purposeContainer {
  width: inherit;
  display: inline-flex;
}

.passionContainer,
.purposeContainer {
  width: inherit;
  display: inline-flex;
}

.generatedPassion,
.generatedPurpose {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 2.5rem;
  overflow-wrap: break-word;

  @media (min-width: 400px) {
    font-size: 4rem;
  }
}

.generatedPassion {
  color: #fd940d;
}

.generatedPurpose {
  color: #2eb4ff;
}

.generateButtonContainer {
  margin-top: 1rem;
}

.passionInput {
  border: 0;
  color: #fd940d;
}

.purposeInput {
  border: 0;
  color: #2eb4ff;
}

.passionInputWrapper,
.passionInput {
  font-weight: 900;
  font-size: 2.5rem;
  text-align: center;
  text-transform: uppercase;
  overflow-wrap: break-word;
  border-bottom: 0.3rem solid;
  min-width: 200px;
  @media (min-width: 400px) {
    font-size: 4rem;
  }
}

//  Do this for passion as well:
.purposeInputWrapper,
.purposeInput {
  font-weight: 900;
  font-size: 2.5rem;
  text-align: center;
  text-transform: uppercase;
  overflow-wrap: break-word;
  border-bottom: 0.3rem solid;
  min-width: 200px;
  @media (min-width: 400px) {
    font-size: 4rem;
  }
}
