.generatedQuestion {
  font-size: 2.2rem;
  text-align: left;
  margin: 3rem 0;
}

.hmwPreset {
  display: block;
  width: 100%;
  font-weight: 500;
  font-size: 2rem;
  padding-left: 3rem;

  @media (min-width: 400px) {
    font-size: 2rem;
    padding-left: 4rem;
  }
  @media (min-width: 880px) {
    font-size: 2.5rem;
  }
}

.hidden {
  display: none;
}

.passionContainer {
  height: 5rem;
  display: flex;
}

.purposeContainer {
  height: 5rem;
  display: flex;
}

.giantTestingPurpose {
  //display: inline-flex;
  width: 100%;
  // flex-basis: auto;
  // flex: grow;
}
.giantTestingPassion {
  flex-basis: auto;
  flex: grow;
}

.passionTextfit {
  border: 1px solid red;
  height: 5rem;
  //position: absolute;
}

.purposeTesting {
  color: #2eb4ff;
  height: 5rem;
  //border: 1px solid red;
  text-decoration: underline;
  font-weight: 900;
  text-transform: uppercase;
  display: flex;
  flex-basis: auto;
  flex: grow;
}

.passionAnimation {
  color: #fd940d;
  height: 5rem;
  font-weight: 900;
  text-transform: uppercase;
  flex-basis: auto;
  flex: grow;
  position: relative;

  display: flex;
  border: 1px solid red;
}

.passionIndividual {
  height: fit-content;
  border: 1px green solid;
  top: 50%;
  transform: translateY(-50%);
  position: relative;
  //text-decoration: underline;
}

.purposeIndividual {
  height: fit-content;
  border: 1px green solid;
  top: 50%;
  transform: translateY(-50%);
  position: relative;
}

.overflowContainer {
  overflow-y: hidden;
  //display: inline-grid;
  //border: 1px solid blue;
  margin-left: 1rem;

  //width: 80%;
  height: 5rem;
}

.overflowContainerPurpose {
  overflow-y: hidden;
  border: 1px solid blue;
  width: 100%;
  margin-left: 1rem;
  height: 5rem;
}

.generatedButton {
  width: 3rem;
  height: 5rem;
  margin-top: 0;
  user-select: none;
  display: inline;
  border: 1px solid red;
  position: relative;
}

ul {
  height: 20px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.animation {
  animation: mobile 2s infinite alternate;

  @media (min-width: 400px) {
    animation: tablet 2s infinite alternate;
  }

  @media (min-width: 880px) {
    animation: desktop 2s infinite alternate;
  }
}

@keyframes mobile {
  0% {
    transform: translateY(-40px);
  }
  16% {
    transform: translateY(-40px);
  }
  32% {
    transform: translateY(-100px);
  }
  48% {
    transform: translateY(-150px);
  }
  64% {
    transform: translateY(-170px);
  }
  80% {
    transform: translateY(-170px);
  }
  100% {
    transform: translateY(-170px);
  }
}

@keyframes tablet {
  0% {
    transform: translateY(-40px);
  }
  16% {
    transform: translateY(-40px);
  }
  32% {
    transform: translateY(-100px);
  }
  48% {
    transform: translateY(-150px);
  }
  64% {
    transform: translateY(-170px);
  }
  80% {
    transform: translateY(-170px);
  }
  100% {
    transform: translateY(-170px);
  }
}

@keyframes desktop {
  0% {
    transform: translateY(-70px);
  }
  16% {
    transform: translateY(-70px);
  }
  32% {
    transform: translateY(-150px);
  }
  48% {
    transform: translateY(-220px);
  }
  64% {
    transform: translateY(-300px);
  }
  80% {
    transform: translateY(-300px);
  }
  100% {
    transform: translateY(-300px);
  }
}

.generatedPassion,
.generatedPurpose {
  text-decoration: underline;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 2rem;
  margin-left: 1rem;
  overflow-wrap: break-word;
  display: block;

  //addition

  @media (min-width: 400px) {
    font-size: 2.5rem;
  }
  @media (min-width: 880px) {
    font-size: 4rem;
  }
}

.generatedPassion {
  color: #fd940d;
}

.generatedPurpose {
  color: #2eb4ff;
}

.button {
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  border: none;
  margin: 0;
  outline: none;
  font-weight: 500;
  cursor: pointer;
  font-size: 1rem;
  background-color: #2eb4ff;
  color: white;
  border-radius: 3rem;
  padding: 1rem 2rem;

  transition: background-color 0.2s ease;

  &:hover {
    background-color: darken(#2eb4ff, 10%);
  }
  &:active {
    background-color: darken(#2eb4ff, 20%);
  }
  &:focus {
    transition: background-color 0.2s ease;
    background-color: darken(#2eb4ff, 20%);
    outline: none;
  }
}
