

.generatedQuestion {
  font-size: 2.2rem;
  text-align: left;
  margin: 3rem 0;

  @media (min-width: 400px) {
    /*font-size: 1rem; /*previously 2.4rem*/
    /*margin: 4rem 0;*/
  }
}

/*added 6.18.19*/
.hmwPreset {
  display: block;
  width: fit-content;
  font-weight: 500;
  font-size: 2rem;
  margin-left: 3rem;

  @media (min-width: 880px) {
    font-size: 3.5rem;
  }
}

.passionContainer,
.purposeContainer {
  width: inherit;
  display: inline-flex;
}

.generatedPassion,
.generatedPurpose {
  text-decoration: underline;
  font-weight: 900; /*Added 5.25.19*/
  text-transform: uppercase; /*Added 5.25.19*/
  font-size: 2.5rem; /*Added 6.18.19*/
  margin-left: 1rem;
  overflow-wrap: break-word;

  @media (min-width: 400px) {
    font-size: 4rem;
  }
}

.generatedPassion {
  color: #fd940d;
}

.generatedPurpose {
  color: #2eb4ff;
}

.generateButtonContainer {
  text-align: center;
  display: inline;
}

.button {
  // Resets
  
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  border: none;
  margin: 0;
  outline: none;
  font-weight: 500;
  cursor: pointer;
  font-size: 1rem;
  background-color: #2eb4ff;
  color: white;
  border-radius: 3rem;
  padding: 1rem 2rem;

  transition: background-color 0.2s ease;

  &:hover {
    background-color: darken(#2eb4ff, 10%);
  }
  &:active {
    background-color: darken(#2eb4ff, 20%);
  }
  &:focus {
    transition: background-color 0.2s ease;
    background-color: darken(#2eb4ff, 20%);
    outline: none; //take this out to bring back the default black dotted line
  }
}