.logo {
  width: 13rem;
  cursor: pointer;
  transition: 0.2s transform;

  &:hover {
    transform: scale(1.05);
  }
}

.logoLink {
  display: block;
  margin: 0 auto;
}

.attributionText {
  font-style: italic;
  margin-bottom: 0.2rem;
  text-align: center;
}
