$primary-color: #2eb4ff;
$font-color: #16171f;

.generatedQuestion {
  font-size: 2.2rem;
  text-align: center;
  margin: 3rem 0;
}

.lowercase {
  text-transform: lowercase;
}

.bolded {
  font-weight: 600;
}

.generatedButton {
  display: inline-block;
  margin-right: 1rem;
}

.generateButtonContainer {
  margin-top: 1rem;
}

.cardsContainer {
  max-width: 800px;
  height: fit-content;
  margin: 0 auto;
  text-align: center;
}

.childCard {
  background-color: $font-color;
  color: white;
  width: 70%;
  height: 250px;
  border-radius: 0.5rem;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 1rem;

  @media (min-width: 400px) {
    height: 200px;
    width: 25%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  @media (min-width: 880px) {
    height: 350px;
    width: 30%;
  }
}

.cardText {
  position: relative;
  top: 50%;
  transform: translateY(-50%);

  @media (min-width: 880px) {
    font-size: 1.5rem;
  }
}

.exampleCard {
  background-color: gainsboro;
  color: $font-color;
  width: 70%;
  height: 250px;
  border-radius: 0.5rem;
  display: inline-block;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  vertical-align: top;
  margin-bottom: 1rem;

  @media (min-width: 400px) {
    height: 200px;
    width: 25%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  @media (min-width: 880px) {
    width: 30%;
    height: 350px;
  }
}

.descriptionCard {
  cursor: pointer;
  background-color: gainsboro;
  color: $font-color;
  width: 70%;
  height: 250px;
  border-radius: 0.5rem;
  display: inline-block;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  vertical-align: top;

  @media (min-width: 400px) {
    height: 200px;
    width: 25%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  @media (min-width: 880px) {
    width: 30%;
    height: 350px;
  }
}

.descriptionCard:hover {
  background-color: $primary-color;
  color: white;
  transition: background-color 0.2s ease;
}

.descriptionText {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.logoLink {
  color: $font-color;
}

.logoLink:hover {
  color: white;
  transition: background-color 0.2s ease;
}

.logoLink:visited {
  color: $font-color;
}

img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
