$primary-color: #2eb4ff;
$font-color: #16171f;

.generatedQuestion {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 2rem;
}

.passion {
  color: #fd940d;
}

.purpose {
  color: $primary-color;
}

.lowercase {
  text-transform: lowercase;
  display: inline;
}

.bolded {
  font-weight: 600;
}

.generatedButton {
  display: inline-block;
  margin-right: 1rem;
}

.generateButtonContainer {
  margin-top: 1rem;
}

.cardsContainer {
  max-width: 800px;
  height: fit-content;
  margin: 0 auto;
  text-align: center;
}

.childCard {
  background-color: black;
  color: white;
  width: 70%;
  height: 250px;
  border-radius: 0.5rem;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 1rem;

  @media (min-width: 400px) {
    height: 200px;
    width: 25%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  @media (min-width: 880px) {
    height: 350px;
    width: 30%;
  }
}

.childCard:hover {
  background-color: $primary-color;
  color: white;
  transition: background-color 0.2s ease;
}

.miniCardText {
  font-size: 0.75rem;
  margin-top: 0.5rem;
  text-decoration: underline;
}

.cardText {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 1rem;

  @media (min-width: 880px) {
    font-size: 1.5rem;
  }
}

.exampleCard {
  background-color: gainsboro;
  color: $font-color;
  width: 70%;
  height: 250px;
  border-radius: 0.5rem;
  display: inline-block;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  vertical-align: top;
  margin-bottom: 1rem;

  @media (min-width: 400px) {
    height: 200px;
    width: 25%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  @media (min-width: 880px) {
    width: 30%;
    height: 350px;
  }
}

.descriptionCard {
  cursor: pointer;
  background-color: gainsboro;
  color: $font-color;
  width: 70%;
  height: 250px;
  border-radius: 0.5rem;
  display: inline-block;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  vertical-align: top;

  @media (min-width: 400px) {
    height: 200px;
    width: 25%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  @media (min-width: 880px) {
    width: 30%;
    height: 350px;
  }
}

.description {
  font-style: italic;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.descriptionCard:hover {
  background-color: $primary-color;
  color: white;
  transition: background-color 0.2s ease;
}

.descriptionText {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 1rem;
  text-decoration: underline;

  @media (min-width: 880px) {
    font-size: 1.5rem;
  }
}

.logoLink {
  color: $font-color;
}

.logoLink:hover {
  color: white;
  transition: background-color 0.2s ease;
}

.logoLink:visited {
  color: $font-color;
}

img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: auto;
}

.button {
  display: block;
  margin-bottom: 1rem;

  @media (min-width: 400px) {
    margin-right: 1rem;
    display: inline;
  }
}
